<!-- Fixed navbar -->
<nav class="navbar navbar-green navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <label class="navbar-title">
                Project
            </label>


            <p class="navbar-text pull-right">
                <a href="#!/user/search" class="navbar-link">
                    <span class="glyphicon glyphicon-search"> Search Users</span>
                </a>
            </p>

            <a class="btn btn-success pull-right"
               ng-if="model.currentUser._id"
               ng-click="model.logout()">Logout</a>
        </div>
    </div>
</nav>

<h1 class="home-title">Welcome to Pin Dropper</h1>


<div class="container-fluid login-buttons">


    <a class="btn btn-primary btn-block"
       ng-if="!model.currentUser._id"
       href="#!/login">Login</a>

    <a class="btn btn-success btn-block"
       ng-if="!model.currentUser._id"
       href="#!/register">Register</a>

    <a class="btn btn-primary btn-block"
       ng-if="model.currentUser._id"
       href="#!/profile">Profile</a>

    <a class="btn btn-success btn-block"
       ng-if="model.currentUser._id"
       href="#!/pin">My Pins</a>

    <a class="btn btn-info btn-block"
       ng-if="model.currentUser.roles.indexOf('ADMIN')>-1"
       href="#!/user/search">Admin</a>


    <div class="container-fluid">
        <label class="center-text" for="pinCategory" >Filter Pins by Category</label>
        <select ng-model="model.pinCategory"
                ng-change="model.filterPins(model.pinCategory)"
                id="pinCategory"
                class="form-control">
            <option>All</option>
            <option>Food</option>
            <option>Drink</option>
            <option>Leisure</option>
            <option>Music</option>
        </select>
    </div>

    <div ng-if="model.currentUser._id">
        <ul ng-if="model.friendPins.length > 0" class="list-group">
            <li class="list-group-item active pin-group-header">
                <h3>Friend Pins</h3>
            </li>
            <li class="list-group-item" ng-repeat="pin in model.friendPins">
                <a href="#!/pin/{{pin._id}}">
                    {{pin.name}}
                </a>
            </li>
        </ul>
    </div>

    <ul ng-if="model.publicPins.length > 0" class="list-group">
        <li class="list-group-item active pin-group-header">
            <h3>Public Pins</h3>
        </li>
        <li class="list-group-item" ng-repeat="pin in model.publicPins">
            <a href="#!/pin/{{pin._id}}">
                {{pin.name}}
            </a>
        </li>
    </ul>

    <ul ng-if="model.currentUser.roles.indexOf('ADMIN')>-1" class="list-group">
        <li class="list-group-item active pin-group-header">
            <h3>All Pins</h3>
        </li>
        <li class="list-group-item" ng-repeat="pin in model.allPins">
            <a href="#!/pin/{{pin._id}}">
                {{pin.name}}
            </a>
        </li>
    </ul>





</div>




</div>