input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

nav.navbar.navbar-default {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.navbar-blue {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

label.navbar-title {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
}

label.navbar-double-title {
    float: left;
    height: 50px;
    padding-top: 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
}

.navbar-header{
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 768px) {
    .navbar-header{
        padding-left: 0px;
        width: 100%;
    }
}

.navbar-footer{
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 768px) {
    .navbar-footer{
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
    }
}

div.container-fluid.login-buttons {
    margin-top: 50px;
}

div.profile-info {
    margin-top: 25px;
}


span.glyphicon {
    color: #fff;
}

span.blue-text {
    color: #337ab7;
}

span.black-text {
    color: #000;
}

.website-list-header{
    background-color: #337ab7;
    color: #fff;
}
.new-website-half-navbar{
    padding-right: 0px;
}

.navbar-link-right-padding{
    padding-right: 5px;
}


.wd-widget {
    margin-bottom: 10px;
}

.wd-widget > img {
    width: 100%;
}

.wd-widget > .wd-widget-toolbar {
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.9;
    padding: 5px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
}


.scrollable-div {
    height: calc(100vh - 120px);
    overflow: auto;

}

