/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    width: 250px;
    height: 250px;
    margin: auto;
}

@media (min-width: 768px) {
    #map {
        width: 400px;
        height: 400px;
        margin: auto;
    }
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

input.form-control,
textarea.form-control,
.btn,
select.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.login-buttons {
    margin-top: 60px;
}


.navbar-header{
    padding-left: 15px;
    width: 100%;
}

.navbar-green {
    color: #fff;
    background-color: limegreen;
    border-color: forestgreen;
}

label.navbar-title {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
}

span.glyphicon {
    color: #fff;
}

.btn{
    margin-top: 10px;
}

#hiddenButton {
    display: none;
}

h3, .center-text {
    text-align: center;
}

.bottom-padding{
    padding-bottom: 60px;
}

.comment-user {
    font-size: 16pt;
}

.home-title {
    text-align: center;
}

#greenIcon > .glyphicon {
    color: limegreen;
}

#redIcon > .glyphicon {
    color: red;
}
