
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">Assignment</a>
        </div>
    </div>
</nav>

<h1 class="home-title">Welcome to the Web App Maker</h1>


<div class="container-fluid login-buttons">


    <a class="btn btn-primary btn-block"
       ng-if="!model.currentUser._id"
       href="#!/login">Login</a>

    <a class="btn btn-success btn-block"
       ng-if="!model.currentUser._id"
       href="#!/register">Register</a>

    <a class="btn btn-primary btn-block"
       ng-if="model.currentUser._id"
       href="#!/profile">Profile</a>

    <a class="btn btn-info btn-block"
       ng-if="model.currentUser.roles.indexOf('ADMIN')>-1"
       href="#!/admin">Admin</a>




</div>
