<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid navbar-blue">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a href="#!" class="navbar-link">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#!/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>



</nav>