<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid navbar-green">
        <div class="navbar-header">
            <label class="navbar-title">
                Profile
            </label>
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>



<div class="bottom-padding">



<div class="container-fluid">

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div ng-show="model.message" class="alert alert-info">
        {{model.message}}
    </div>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email"
                   ng-model="model.user.email"
                   class="form-control"
                   id="email"
                   placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text"
                   class="form-control"
                   id="first-name"
                   placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text"
                   ng-model="model.user.lastName"
                   class="form-control"
                   id="last-name"
                   placeholder="Wonderland">
        </div>
    </form>

    <ul ng-if="model.requests.length > 0" class="list-group">
        <li class="list-group-item active">
            Friend Requests
        </li>
        <li class="list-group-item" ng-repeat="request in model.requests">
            {{request.username}}
            <a ng-click="model.addFriend(request)" class="navbar-link pull-right" id="greenIcon">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </li>
    </ul>

    <ul ng-if="model.friends.length > 0" class="list-group">
        <li class="list-group-item active">
            Friends
        </li>
        <li class="list-group-item" ng-repeat="friend in model.friends">
            {{friend.username}}
            <a ng-click="model.removeFriend(friend)" class="navbar-link pull-right" id="redIcon">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </li>
    </ul>


    <a class="btn btn-success btn-block"
       ng-click="model.updateUser(model.user)">Update</a>

    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteUser(model.user)">Unregister</a>

    <a class="btn btn-primary btn-block"
       href="#!/pin">Pins</a>

    <a class="btn btn-danger  btn-block"
       ng-click="model.logout()">Logout</a>



</div>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>