<!DOCTYPE html>
<html lang="en" ng-app="MapApp">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Theme Template for Bootstrap</title>

    <script src="../js/angular.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../assignment/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../assignment/vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    <script src="app.js"></script>

    <title>Project Map</title>
</head>



<body ng-controller="mapController as model">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid navbar-blue">
        <div class="navbar-header">
            <label class="navbar-title">
                Map
            </label>
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>



<div class="container-fluid" id="map"></div>

<h3>
    Click to add a pin, or...
</h3>

<a ng-click="model.getLocation()"
   class="btn btn-success btn-block" id="currentLocationButton">
    Pin Current Location
</a>

<button ng-click="model.showAddress()" class="btn btn-block btn-primary">
    show address
</button>

<h3 id="address">
    {{model.address}}
</h3>


<button id="hiddenButton" ng-click="model.test()"></button>





<!-- Replace the value of the key parameter with your own API key.                              &callback=initialize -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9lgvIli9MSMufacGSus0ZqLtHKSk1UJA"></script>


</body>
</html>

